<!DOCTYPE html>
<html lang="id">
<head>
    <%- include('../partials/seo-meta', {
        pageTitle: 'Tentang Kami - Kuli IT Beauty',
        pageDescription: 'Kuli IT Beauty adalah klinik kecantikan profesional dengan tim ahli berpengalaman yang siap memberikan perawatan terbaik untuk kecantikan dan kesehatan kulit Anda.',
        pageUrl: 'https://companyprofile.staging-kuliit.cloud/about',
        pageImage: 'https://companyprofile.staging-kuliit.cloud/client/images/slider/1.jpg'
    }) %>
    <link href="/client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/client/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/client/css/style.css" rel="stylesheet" type="text/css">
    <link href="/client/css/coloring.css" rel="stylesheet" type="text/css">
    <link id="colors" href="/client/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <%- include('../widgets/header') %>
        <div id="content" class="no-bottom no-top">
            <%- include('../widgets/about_section1') %>
        </div>
        <%- include('../widgets/footer') %>
        
        <!-- Floating Icons -->
        <%- include('../widgets/floating-icons') %>
    </div>
    <script src="/client/js/plugins.js"></script>
    <script src="/client/js/designesia.js"></script>
</body>
</html>
